html,
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background-index_1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e293b;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav h1 {
    font-size: 1.25rem;
    color: rgb(124, 160, 202);
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    min-height: 10px;
    min-width: 10px;
}

.logo-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #0f172a;
    color: #fff;
    z-index: 100;
}


/* IMAGEN DE FONDO */

.features {
    min-height: 75vh;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.pixel-type {
    font-family: 'Press Start 2P';
    font-size: 100px;
    color: #fff;
    text-align: center;
}

#boton {
    width: 14rem;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #0f172a;
    color: rgb(124, 160, 202);
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
}


/* MEDIA-QUERIES */
@media (max-width: 560px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}