html,
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/wall.png');
    background-position: top left;
    background-repeat: repeat;
    background-size: 550px 420px;
    min-height: 100vh;
    image-rendering: pixelated;
}

body {
    display: flex;
    flex-direction: column;
}

main,
section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e293b;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav h1 {
    font-size: 1.25rem;
    color: rgb(124, 160, 202);
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    min-height: 10px;
    min-width: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #0f172a;
    color: #fff;
    z-index: 100;
}

.nav-heart {
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

.login-btn {
    background-color: rgb(101, 116, 116);
    color: white;
    margin-right: 20px;
    font-family: 'Press Start 2P';
    padding: 5px 10px;
}


/* IMAGEN DE FONDO */

.features {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel-type {
    font-family: 'Press Start 2P';
    font-size: 100px;
    color: #fff;
    text-align: center;
}

h3.pixel-type {
    font-size: 40px;
}

.blink {
    animation: blink 0.3s steps(2, start) 4;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#boton {
    width: 15rem;
    cursor: pointer;
}

.favorite-icon {
    font-size: 30px;
    display: block;
    margin-left: auto;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 10px;
}

.favorite-icon.active {
    color: #ff4d4d;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #0f172a;
    color: rgb(124, 160, 202);
    font-family: sans-serif;
    margin-top: auto;
}

.footer p {
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 15px;
}


/* MEDIA-QUERIES */
@media (max-width: 560px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: #0f172a;
        color: rgb(124, 160, 202);
        font-family: sans-serif;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    .pixel-type {
        font-size: 60px;
        margin-bottom: 0px;
    }

    h3.pixel-type {
        font-size: 35px;
    }
}