section {
    flex-direction: row;
}


#formTitle {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: white;
}

.card-gif {
    width: 350px;
    padding-top: 20px;
}

.caos-section {
    display: flex;
    flex: 1;
    height: 80%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.caos-card textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #334155;
    background: #0f172a;
    color: #a1abb8;
    font-family: 'Press Start 2P', monospace;
    resize: vertical;
    margin-bottom: 10px;
}

.caos-card button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgb(112, 109, 109);
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    border-top: 3px solid #d0d4da;
    border-left: 3px solid #d0d4da;
    border-bottom: 3px solid #46464b;
    border-right: 3px solid #46464b;
    margin-bottom: 10px;
}

.caos-card button:hover {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgb(87, 84, 84);
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    border-top: 3px solid #262629;
    border-left: 3px solid #262629;
    border-bottom: 3px solid #424446;
    border-right: 3px solid #424446;
    margin-bottom: 10px;
}


.caos-output {
    margin-top: 10px;
    padding: 12px;
    background-color: #0f172a;
    border: 1px solid #334155;
    color: #a1abb8;
    font-family: 'Press Start 2P', monospace;
    white-space: pre-line;
    height: 140px;
    overflow-y: auto;
    min-height: 60px;
    max-width: 600px;
    white-space: normal;
}

@media (max-width: 768px) {
    .caos-section {
        padding: 20px;
    }

}