#formTitle {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: white;
}

.enemy-section {
    display: flex;
    flex: 1;
    height: 80%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-gif {
    width: 400px;
}

section {
    flex-direction: row;
}

.stats-box {
    background-color: rgba(15, 23, 42, 0.9);
    border: 2px solid #334155;
    padding: 15px;
    margin-top: 10px;
    font-family: 'Press Start 2P';
    color: white;
    margin-bottom: 20px;
}

.enemy-card h2 {
    font-family: 'Press Start 2P';
    color: white;
}


.enemy-card button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgb(112, 109, 109);
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    border-top: 3px solid #d0d4da;
    border-left: 3px solid #d0d4da;
    border-bottom: 3px solid #46464b;
    border-right: 3px solid #46464b;
    margin-bottom: 10px;
}

.enemy-card button:hover {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgb(87, 84, 84);
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
    cursor: pointer;
    border-top: 3px solid #262629;
    border-left: 3px solid #262629;
    border-bottom: 3px solid #424446;
    border-right: 3px solid #424446;
    margin-bottom: 10px;
}


.enemy-output {
    margin-top: 10px;
    color: #a1abb8;
    font-family: 'Press Start 2P';
    white-space: pre-line;
}

.enemy-output {
    margin-top: 10px;
    padding: 12px;
    background-color: #0f172a;
    border: 1px solid #334155;
    color: #a1abb8;
    font-family: 'Press Start 2P', monospace;
    white-space: pre-line;
    min-height: 60px;
}

@media (max-width: 768px) {
    .torch {
        display: none;
    }

    .excuses-section {
        padding: 20px;
    }

    .enemy-section {
        padding: 20px;
    }

    .card-gif {
        width: 280px;
    }
}